.custom-container {
    background-color: #F8F9FA;
    padding: 50px;
}
.custom-form {
    margin-top: 20px;
}
.custom-form label {
    font-weight: bold;
    color: #343A40; /* Dark text color */
}
.custom-form input[type="email"],
.custom-form input[type="password"] {
    border: 1px solid #CED4DA;
    border-radius: 5px;
    padding: 8px; /* Reduced padding */
    font-size: 14px; /* Reduced font size */
}
.custom-form button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF; /* Button background color */
    border: none;
    color: #fff; /* Button text color */
}
.custom-form button[type="submit"]:hover {
    background-color: #0056B3; /* Button background color on hover */
}
.forgot-password-link {
    display: block;
    margin-top: 10px;
    color: #007BFF;
}
.forgot-password-link:hover {
    text-decoration: none;
    color: #0056B3;
}
.logo {
    max-width: 150px;
    margin-bottom: 20px;
    background-color: transparent;
}