/* Global Styles */
body {
  margin: 60px auto;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f6f8;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
}

/* Sidebar Styles */
.sidebar {
  width: 240px;
  flex-shrink: 0;
}

.sidebar .MuiDrawer-paper {
  width: 240px;
  box-sizing: border-box;
  background: linear-gradient(to right, #FAD126, #FF564E);
  color: white;
}

.sidebar .MuiListItemIcon-root {
  color: white;
}

/* Header Styles */
.header {
  width: 100%;
  background: linear-gradient(to right, #FAD126, #FF564E);
}

.header-title {
  flex-grow: 1;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%; /* Change width to full width on smaller screens */
  }

  .main-content {
    padding: 10px; /* Reduce padding for smaller screens */
  }
}
