/* Standardform.css */
.container {
  padding-top: 20px;
}

h4 {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}

/* Responsive CSS */
@media (max-width: 600px) {
  .MuiGrid-item {
    width: 100% !important;
  }

  .text-center {
    text-align: center !important;
  }
}
